body{
    padding: 0;
    margin: 0;
}
.verchina{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(16, 73, 26);
}
.center__bone{
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right:80px solid transparent;
    border-bottom: 160px solid rgb(16, 73, 26);
}
.niz__bone{
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 220px solid rgb(16, 73, 26);
}