body{
    padding: 0;
    margin: 0;
}
.hBone{
    display: block;
    margin-left: 20%;
    margin-top: 10%;
}
.verchina{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(16, 73, 26);
    margin-left: 50px;
}
.center__bone{
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right:80px solid transparent;
    border-bottom: 160px solid rgb(16, 73, 26);
    margin-left: 20px;
    margin-top: -50px;
}
.niz__bone{
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 240px solid rgb(16, 73, 26);
    margin-left: -20px;
    margin-top: -80px;
}
.lght{
    width: 15px;
    height: 30px;
    -moz-border-radius: 30px/15px;
    -webkit-border-radius: 30px/15px;
    border-radius: 30px/15px;
    background-color: #f51111;
}